---
import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { getCollection } from "astro:content";
import FormattedDate from "../components/FormattedDate.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

const HERO_IMAGE = "/blog-placeholder-2.jpg";
const HERO_CATCH = "Create, Share, Inspire";

const posts = (await getCollection("blog"))
	.sort((a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf())
	.slice(0, 6);
---

<BaseLayout title={SITE_TITLE} description={SITE_DESCRIPTION}>
	<main>
		<section class="recent">
			<ul>
				{
					posts.map((post) => (
						<li>
							<a href={`/blog/${post.id}/`}>
								{post.data.heroImage && (
									<img
										width={720}
										height={360}
										src={post.data.heroImage}
										alt=""
									/>
								)}
								<h4 class="title">{post.data.title}</h4>
								<p class="date">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</a>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</BaseLayout>

<style>
	main {
		width: calc(100% - 12em);
	}

	ul li {
		width: calc(25% - 1rem);
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		list-style: none;
		margin: 0;
		padding: 0;
	}
	ul li a {
		display: block;
		padding: 1em;
		border-radius: 1em;
		text-decoration: none;
		transition: 0.2s ease;
	}
	ul li a:hover {
		background-color: rgba(255, 255, 255, 0.05);
	}
	ul li img {
		margin-bottom: 0.5rem;
		border-radius: 12px;
	}
	.title {
		margin: 0;
		color: rgb(var(--text));
		line-height: 1;
	}
	.date {
		margin: 0;
		color: rgb(var(--gray));
	}
	@media (max-width: 720px) {
		ul {
			gap: 0.5em;
		}
		ul li {
			width: 100%;
			text-align: center;
		}
	}
</style>
