---
import { type CollectionEntry, getCollection } from "astro:content";
import BaseLayout from "../../../layouts/BaseLayout.astro";
import FormattedDate from "../../../components/FormattedDate.astro";

type BlogPost = CollectionEntry<"blog">;

export async function getStaticPaths() {
	const posts = await getCollection("blog");

	// 全タグを収集（存在しないものは除外）
	const tags = posts.map((post: BlogPost) => post.data.tags ?? []).flat();

	// 重複を除く
	const uniqueTags = [...new Set(tags)];

	return uniqueTags.map((tag) => {
		const filteredPosts = posts.filter((post) =>
			post.data.tags?.includes(tag),
		);
		return {
			params: { tag },
			props: { posts: filteredPosts },
		};
	});
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout title={tag} description=`タグ：${tag}を含む記事`>
	<main>
		<section>
			<h3>タグ：「{tag}」が付けられた記事</h3>
			<ul>
				{
					posts.map((post) => (
						<li>
							<a href={`/blog/${post.id}/`}>
								<img
									width={720}
									height={360}
									src={post.data.heroImage}
									alt=""
								/>
								<h4 class="title">{post.data.title}</h4>
								<p class="date">
									<FormattedDate date={post.data.pubDate} />
								</p>
							</a>
						</li>
					))
				}
			</ul>
		</section>
	</main>
</BaseLayout>

<style>
	main {
		width: calc(100% - 12em);
	}
	.intro {
		padding-bottom: 2em;
		text-align: center;
	}
	.intro p {
		color: rgb(var(--gray));
	}
	ul {
		display: flex;
		flex-wrap: wrap;
		gap: 1rem;
		list-style-type: none;
		margin: 0;
		padding: 0;
	}
	ul li {
		width: calc(25% - 1rem);
	}
	ul li * {
		text-decoration: none;
		transition: 0.2s ease;
	}
	ul li img {
		margin-bottom: 0.5rem;
		border-radius: 12px;
	}
	ul li a {
		display: block;
	}
	.title {
		margin: 0;
		color: rgb(var(--text));
		line-height: 1;
	}
	.date {
		margin: 0;
		color: rgb(var(--gray));
	}

	ul li a {
		padding: 1em;
		background-color: transparent;
		border-radius: 1em;
	}

	ul li a:hover {
		background-color: rgba(255, 255, 255, 0.1);
	}

	@media (max-width: 720px) {
		ul {
			gap: 0.5em;
		}
		ul li {
			width: 100%;
			text-align: center;
		}
		ul li:first-child {
			margin-bottom: 0;
		}
		ul li:first-child .title {
			font-size: 1.563em;
		}
	}
</style>
